<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>タイトル</title>
  <meta name="keywords" content="キーワード">
  <meta name="description" content="ディスクリプション">
  <meta property="og:title" content="タイトル" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="URL" />
  <meta property="og:image" content="IMMAGE" />
  <link rel="shortcut icon" href="FAVICON" type="vnd.microsoft.icon">
  <link rel="icon" href="/favicon.ico" type="vnd.microsoft.icon">
  <meta content="width=375,user-scalable=no" name="viewport">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>
<body>
  <div class="area-wrapper">
    <div class="wrapper">
      <div class="area-container"><a id="top"></a>
        <header>
          <h1 class="header-logo">Mountain</h1>
        <!-- header --></header>
        <div class="bodyWrap area-body" id="top-page">
          <div class="top-area-visual">
            <h2 class="top-area-title">HELLO Moutain</h2>
            <p>ログインしてください。</p>
            <div class="elem-form">
              <form>
                <div class="field"> <label for="user_email">メールアドレス</label> <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" /> </div>
                <div class="field"> <label for="user_password">パスワード</label> <input autocomplete="current-password" type="password" name="user[password]" id="user_password" /> </div>
                <div class="field"> <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" /> <label for="user_remember_me">次回から自動的にログイン</label> </div>
                <div class="field"> <input type="submit" name="commit" value="ログインする" data-disable-with="ログインする" /> </div>
              </form>
            <!-- elem-form --></div>
            <div class="elem-btn entry"><a href="">新規登録する</a></div>
            <div class="elem-link"><a href="">パスワード忘れた方</a></div>
            <div class="elem-btn entry-facebook"><a href="">Sign in with Facebook</a></div>
          <!-- area-visual --></div>
        <!-- bodyWrap --></div>
        <footer> copy@yansu </footer>
        <!-- area-wrapper -->
      </div>
    </div>
</body>
</html>