$breakpoint-mobile: 750px;

@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

/*スマホ*/
@include max-screen($breakpoint-mobile) {

}

/*
    .area-wrapper
=========================================*/
.area-wrapper {
    text-align: center;
    color: #000;
    line-height: 1.8;
}
/*
    header
=========================================*/
header {
    padding: 10px 20px;
    display: flex;
    .header-logo {
        align-items: left;
        font-family: 'Dosis', sans-serif;
        font-size: 24px;
        font-weight: bold;
    }
    
}


/*
    .bodyWrap
=========================================*/
.bodyWrap {
}

/*
    #top-page
=========================================*/
#top-page {
    height: 100vh;
    background: url(/images/top-back.jpeg) center center no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .top-area-visual {
        width: 35%;
        padding: 30px;
        border: 1px solid #eee;
        background:rgba(244,244,244,.8);
        .top-area-title {
            font-family: 'Dosis', sans-serif;
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.elem-btn {
    a {
        display: block;
        font-size: 14px;
        padding: 14px;
        text-align: center;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        border-radius: 2px;
        &:hover {
            opacity: 0.8;
        }
    }
    &.entry a {
        background-color: #fff;
        border:1px solid #999;
        color: #333;
        width: auto;
    }
    &.entry-facebook {
        margin: 20px 0 0;
        a {
            background-color: #3B5998;
            border:1px solid #999;
            color: #fff;
            width: auto;
        }
    }

}





/*
    footer
=========================================*/
footer {
    p {
        font-size: 11px;
        color: #3c5983;
        margin: 20px 0; 
    }
/************SP************/
@include max-screen($breakpoint-mobile) {
}
/************SPここまで************/
}