#elem-form-page {
    width: 700px;
    margin: 0 auto;
}
.elem-form {
/*--------------------------------------
共通
---------------------------------------*/
.field {
  padding-bottom: 20px;
  width: auto;
  p {
    font-size: 14px;
    padding-bottom: 5px;
  }
  label {
    text-align: left;
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
  }
/*--------------------------------------
テキスト関連
---------------------------------------*/
  input {
    &[type=text], &[type=email], &[type=password] {
      background: #fff;
      border: 1px solid #999999;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-size: 14px;
      padding: 10px;
      height: 40px;
      width: 100%;
    }
/*--------------------------------------
ラジオボタン
---------------------------------------*/
    &[type=radio] {
      display: none;
      margin: 0;
      + label {
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        line-height: 1.5px;
        margin-right: 12px;
        padding: 0 0 0px 24px;
        position: relative;
        &::before {
          border: 1px solid #777777;
          border-radius: 50%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          content: "";
          display: block;
          margin-top: -9px;
          position: absolute;
          left: 0;
          top: 50%;
          height: 16px;
          width: 16px;
        }
      }
      &:checked + label::after {
        background: #333333;
        border-radius: 50%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        content: "";
        display: block;
        margin-top: -4px;
        position: absolute;
        left: 4px;
        top: 0;
        height: 8px;
        width: 8px;
      }
    }
/*--------------------------------------
チェックボックス
---------------------------------------*/    
    &[type=checkbox] {
      display: none;
      margin: 0;
      + label {
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        line-height: 1.5px;
        margin-right: 12px;
        padding: 0 0 0 24px;
        position: relative;
        &::before {
          border: 1px solid #999999;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          content: "";
          display: block;
          margin-top: -9px;
          position: absolute;
          left: 0;
          top: 50%;
          height: 16px;
          width: 16px;
        }
      }
      &:checked + label::after {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #333333;
        left: 3px;
        margin-top: -6px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        height: 6px;
        width: 10px;
      }
    }
  }
}
/*--------------------------------------
プルダウン
---------------------------------------*/
.field-select {
  position: relative;
  width: 230px;
  margin: 0 auto;
  p {
    font-size: 14px;
    padding-bottom: 5px;
  }
  select {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    padding: 10px;
    position: relative;
    height: 40px;
    width: 230px;
  }
  label {
    position: relative;
    &::after {
      content: "";
      border-bottom: 1px solid #333333;
      border-left: 1px solid #333333;
      right: 16px;
      height: 8px;
      margin-top: -5px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      position: absolute;
      top: 50%;
      width: 8px;
    }
  }
}

/*--------------------------------------
ファイル選択
---------------------------------------*/
.field-file {
  padding-bottom: 20px;
  width: 460px;
  margin: 0 auto;
  label {
    border: 1px solid #999999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 10px;
    position: relative;
    height: 40px;
    width: 460px;
    &::before {
      content: "＋";
      color: #333333;
      font-size: 20px;
      line-height: 1;
      margin-top: -9px;
      right: 10px;
      position: absolute;
      top: 50%;
    }
  }
  input[type=file] {
    display: none;
  }
}

/*--------------------------------------
テキストエリア
---------------------------------------*/
.field {
  textarea {
    border: 1px solid #999999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 13px;
    padding: 10px;
    height: 210px;
    width: 460px;
  }
/*--------------------------------------
送信ボタン
---------------------------------------*/
  input {
    &[type=submit] {
      background-color: #000;
      border: 1px solid #999;
      border-radius: 2px;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 14px;
      padding: 14px;
      text-align: center;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -webkit-transition: 0.2s ease-in-out;
      width: 100%;
      &:hover {
        opacity: 0.8;
      }
    }
    &[disabled=disabled] {
      cursor: default;
      opacity: 0.5;
      &:hover {
        background-color: #999;
        color: #fff;
      }
    }
  }
}


}