@charset "UTF-8";
/*
    default
=========================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -ms-line-break: strict;
  line-break: strict;
  word-wrap: break-word;
}

sub {
  vertical-align: text-bottom;
}

sup {
  vertical-align: text-top;
}

sub, sup {
  line-height: 1em;
  font-size: 0.7em;
}

html:not(:target) sub, html:not(:target) sup {
  font-size: 0.5em;
}

em, i, address, optgroup {
  font-style: normal;
  font-weight: normal;
}

q {
  font-style: normal;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

img, input {
  -ms-interpolation-mode: bicubic;
}

img, fieldset, table, tbody, thead, tr, th, td {
  border: none;
}

img, input, select {
  vertical-align: middle;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

select {
  font-style: normal;
}

table {
  _font-size: 1em;
}

input, textarea {
  font-size: 1em;
}

hr {
  display: none;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100%;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  position: relative;
}

html:not(:target) body {
  font-size: 16px;
  font-size: 100% \9;
}

div, ol, ul, li, dl, dt, dd {
  position: relative;
  zoom: 1;
}

/*
    base
=========================================*/
html {
  height: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #444;
  height: 100%;
  margin: 0;
}

a {
  color: #444;
  text-decoration: none;
}

a[href] {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-weight: normal;
}

img {
  max-width: 100%;
}

/*
    xAlign
=========================================*/
.xLeft {
  text-align: left !important;
}

.xCenter {
  text-align: center !important;
}

.xRight {
  text-align: right !important;
}

.xTop {
  vertical-align: top !important;
}

.xMiddle {
  vertical-align: middle !important;
}

.xBottom {
  vertical-align: bottom !important;
}

.xBaseline {
  vertical-align: baseline !important;
}

/*
    xDisplay
=========================================*/
.xHide {
  display: none !important;
}

/*
    .xThrough
=========================================*/
.xThrough {
  text-decoration: line-through !important;
}

/*
    xSize
=========================================*/
.xSmall {
  font-size: 0.625rem;
}

.xRegular {
  font-size: 1rem;
}

.xLarge {
  font-size: 1.25rem;
}

/*
    link
=========================================*/
.link-arrow:before {
  content: "\25b2";
  display: inline-block;
  -webkit-transform: rotate(90deg);
}

#elem-form-page {
  width: 700px;
  margin: 0 auto;
}

.elem-form {
  /*--------------------------------------
共通
---------------------------------------*/
  /*--------------------------------------
プルダウン
---------------------------------------*/
  /*--------------------------------------
ファイル選択
---------------------------------------*/
  /*--------------------------------------
テキストエリア
---------------------------------------*/
}

.elem-form .field {
  padding-bottom: 20px;
  width: auto;
  /*--------------------------------------
テキスト関連
---------------------------------------*/
}

.elem-form .field p {
  font-size: 14px;
  padding-bottom: 5px;
}

.elem-form .field label {
  text-align: left;
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}

.elem-form .field input {
  /*--------------------------------------
ラジオボタン
---------------------------------------*/
  /*--------------------------------------
チェックボックス
---------------------------------------*/
}

.elem-form .field input[type=text], .elem-form .field input[type=email], .elem-form .field input[type=password] {
  background: #fff;
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  height: 40px;
  width: 100%;
}

.elem-form .field input[type=radio] {
  display: none;
  margin: 0;
}

.elem-form .field input[type=radio] + label {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5px;
  margin-right: 12px;
  padding: 0 0 0px 24px;
  position: relative;
}

.elem-form .field input[type=radio] + label::before {
  border: 1px solid #777777;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -9px;
  position: absolute;
  left: 0;
  top: 50%;
  height: 16px;
  width: 16px;
}

.elem-form .field input[type=radio]:checked + label::after {
  background: #333333;
  border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -4px;
  position: absolute;
  left: 4px;
  top: 0;
  height: 8px;
  width: 8px;
}

.elem-form .field input[type=checkbox] {
  display: none;
  margin: 0;
}

.elem-form .field input[type=checkbox] + label {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5px;
  margin-right: 12px;
  padding: 0 0 0 24px;
  position: relative;
}

.elem-form .field input[type=checkbox] + label::before {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  margin-top: -9px;
  position: absolute;
  left: 0;
  top: 50%;
  height: 16px;
  width: 16px;
}

.elem-form .field input[type=checkbox]:checked + label::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  left: 3px;
  margin-top: -6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  height: 6px;
  width: 10px;
}

.elem-form .field-select {
  position: relative;
  width: 230px;
  margin: 0 auto;
}

.elem-form .field-select p {
  font-size: 14px;
  padding-bottom: 5px;
}

.elem-form .field-select select {
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  position: relative;
  height: 40px;
  width: 230px;
}

.elem-form .field-select label {
  position: relative;
}

.elem-form .field-select label::after {
  content: "";
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  right: 16px;
  height: 8px;
  margin-top: -5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  width: 8px;
}

.elem-form .field-file {
  padding-bottom: 20px;
  width: 460px;
  margin: 0 auto;
}

.elem-form .field-file label {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 10px;
  position: relative;
  height: 40px;
  width: 460px;
}

.elem-form .field-file label::before {
  content: "＋";
  color: #333333;
  font-size: 20px;
  line-height: 1;
  margin-top: -9px;
  right: 10px;
  position: absolute;
  top: 50%;
}

.elem-form .field-file input[type=file] {
  display: none;
}

.elem-form .field {
  /*--------------------------------------
送信ボタン
---------------------------------------*/
}

.elem-form .field textarea {
  border: 1px solid #999999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 13px;
  padding: 10px;
  height: 210px;
  width: 460px;
}

.elem-form .field input[type=submit] {
  background-color: #000;
  border: 1px solid #999;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
}

.elem-form .field input[type=submit]:hover {
  opacity: 0.8;
}

.elem-form .field input[disabled=disabled] {
  cursor: default;
  opacity: 0.5;
}

.elem-form .field input[disabled=disabled]:hover {
  background-color: #999;
  color: #fff;
}

/*スマホ*/
/*
    .area-wrapper
=========================================*/
.area-wrapper {
  text-align: center;
  color: #000;
  line-height: 1.8;
}

/*
    header
=========================================*/
header {
  padding: 10px 20px;
  display: flex;
}

header .header-logo {
  align-items: left;
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/*
    .bodyWrap
=========================================*/
/*
    #top-page
=========================================*/
#top-page {
  height: 100vh;
  background: url(/images/top-back.jpeg) center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-page .top-area-visual {
  width: 35%;
  padding: 30px;
  border: 1px solid #eee;
  background: rgba(244, 244, 244, 0.8);
}

#top-page .top-area-visual .top-area-title {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.elem-btn a {
  display: block;
  font-size: 14px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  border-radius: 2px;
}

.elem-btn a:hover {
  opacity: 0.8;
}

.elem-btn.entry a {
  background-color: #fff;
  border: 1px solid #999;
  color: #333;
  width: auto;
}

.elem-btn.entry-facebook {
  margin: 20px 0 0;
}

.elem-btn.entry-facebook a {
  background-color: #3B5998;
  border: 1px solid #999;
  color: #fff;
  width: auto;
}

/*
    footer
=========================================*/
footer {
  /************SP************/
  /************SPここまで************/
}

footer p {
  font-size: 11px;
  color: #3c5983;
  margin: 20px 0;
}

/*# sourceMappingURL=maps/app.css.map */
