/*
    base
=========================================*/

html {
  height: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #444;
  height: 100%;
  margin: 0;
}

a {
  color: #444;
  text-decoration: none;
  &[href] {
    text-decoration: underline;
  }
}

strong {
  font-weight: bold;
}

em {
  font-weight: normal;
}

img {
  max-width: 100%;
}

/*
    xAlign
=========================================*/

.xLeft {
  text-align: left !important;
}

.xCenter {
  text-align: center !important;
}

.xRight {
  text-align: right !important;
}

.xTop {
  vertical-align: top !important;
}

.xMiddle {
  vertical-align: middle !important;
}

.xBottom {
  vertical-align: bottom !important;
}

.xBaseline {
  vertical-align: baseline !important;
}

/*
    xDisplay
=========================================*/

.xHide {
  display: none !important;
}

/*
    .xThrough
=========================================*/

.xThrough {
  text-decoration: line-through !important;
}

/*
    xSize
=========================================*/

.xSmall {
  font-size: 0.625rem;
}

.xRegular {
  font-size: 1rem;
}

.xLarge {
  font-size: 1.25rem;
}

/*
    link
=========================================*/

.link-arrow:before {
  content: "\25b2";
  display: inline-block;
  -webkit-transform: rotate(90deg);
}