@charset "UTF-8";

/*
    default
=========================================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -ms-line-break: strict;
  line-break: strict;
  word-wrap: break-word;
}

sub {
  vertical-align: text-bottom;
}

sup {
  vertical-align: text-top;
}

sub, sup {
  line-height: 1em;
  font-size: 0.7em;
}

html:not(:target) {
  sub, sup {
    font-size: 0.5em;
  }
}

em, i, address, optgroup {
  font-style: normal;
  font-weight: normal;
}

q {
  font-style: normal;
  font-weight: normal;
  &:before, &:after {
    content: "";
  }
}

img, input {
  -ms-interpolation-mode: bicubic;
}

img, fieldset, table, tbody, thead, tr, th, td {
  border: none;
}

img, input, select {
  vertical-align: middle;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

select {
  font-style: normal;
}

table {
  _font-size: 1em;
}

input, textarea {
  font-size: 1em;
}

hr {
  display: none;
}

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100%;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  position: relative;
}

html:not(:target) body {
  font-size: 16px;
  font-size: 100% \9;
}

div, ol, ul, li, dl, dt, dd {
  position: relative;
  zoom: 1;
}